<!DOCTYPE html>
<html lang="es">

<head>
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d1b88dc995.js" crossorigin="anonymous"></script>
</head>

<body class="fondo">

    <header>
        <img id="brand" width="400" src="/images/logo-mercado-liebre.svg" alt="logo de mercado Libre">
        <form action="/" method="post">
            <input type="text">
            <input type="submit" value="buscar">
        </form>
        <p class="p_nav"><span class="fa-solid fa-hand-holding-dollar"></span> Comprá en cuotas y sin tarjeta de crédito
        </p>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href=""> Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="/registrar">Creá Tu Cuenta<span class="fa-solid fa-address-card"></span></a></li>
                <li><a href="/ingresar">Ingresa<span class="fa-solid fa-right-to-bracket"></span></a></li>
                <li><a href="/home">Mis Compras<span class="fa-sharp fa-solid fa-basket-shopping"></span></a></li>
            </ul>
            <div class="burguer burger-menu">
                <span class="burguere fas fa-bars"></span>
            </div>
        </nav>
    </header>
    <h2><b>Sección: Basado en tu última visita</b></h2>
    <section>
<main>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <section class="articulo_contenedor">
                    <span class="bus fa-sharp fa-solid fa-truck"></span>
                    <span class="fa-solid fa-star"></span>
                    <p class="precio">$6.770<span class="descuento"> 40% off</span></p>
                </section>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            <article>
                <img width="400" src="./images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <section class="articulo_contenedor">
                    <span class="bus fa-solid fa-truck"></span>
                    <span class="fa-solid fa-star"></span>
                    <p class="precio">$230.000<span class="descuento">20% off</span></p>
                </section>
                <p class="descripcion"><b>MacBook Pro 2019</b></p>
            </article>
            <article>
                <img width="400" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                <section class="articulo_contenedor">
                    <span class="bus fa-solid fa-truck"></span>
                    <span class="fa-solid fa-star"></span>
                    <p class="precio">$70.500<span class="descuento">10% off</span></p>
                </section>
                <p class="descripcion"><b>Samsung Galaxy S10</b></p>
            </article>
            <article>
                <img width="400" src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
                <section class="articulo_contenedor">
                    <span class="bus fa-solid fa-truck"></span>
                    <span class="fa-solid fa-star"></span>
                    <p class="precio">$23.200<span class="descuento">5% off</span></p>
                </section>
                <p class="descripcion"><b>SmartTv Samsung 43"</b></p>
            </article>
    </section>
    <h2><b>Sección de Ofertas</b></h2>
    <section>
            <article>
                <img src="./images/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <section class="articulo_contenedor">
                    <span class="bus fa-sharp fa-solid fa-truck"></span>
                    <span class="fa-solid fa-star"></span>
                    <p class="precio">$6.770<span class="descuento"> 40% off</span></p>
                </section>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            <article>
                <img width="400" src="./images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                <section class="articulo_contenedor">
                    <span class="bus fa-solid fa-truck"></span>
                    <span class="fa-solid fa-star"></span>
                    <p class="precio">$230.000<span class="descuento">20% off</span></p>
                </section>
                <p class="descripcion"><b>MacBook Pro 2019</b></p>
            </article>
            <article>
                <img width="400" src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
                <section class="articulo_contenedor">
                    <span class="bus fa-solid fa-truck"></span>
                    <span class="fa-solid fa-star"></span>
                    <p class="precio">$70.500<span class="descuento">10% off</span></p>
                </section>
                <p class="descripcion"><b>Samsung Galaxy S10</b></p>
            </article>
            <article>
                <img width="400" src="/images/img-tv-samsung-smart.jpg" alt="smart tv">
                <section class="articulo_contenedor">
                    <span class="bus fa-solid fa-truck"></span>
                    <span class="fa-solid fa-star"></span>
                    <p class="precio">$23.200<span class="descuento">5% off</span></p>
                </section>
                <p class="descripcion"><b>SmartTv Samsung 43"</b></p>
            </article>
</main>
    </section>

    <footer>
        <section>
            <span class="icon-footer fa-solid fa-credit-card"></span>
            <h2 class="h2_footer">Pagá con tarjeta o en efectivo</h2>
            <p class="p_footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <article>
                <span class="icon-footer fa-solid fa-gift"></span>
                <h2 class="h2_footer">Envío gratis desde $ 2.500</h2>
                <p class="p_footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <span class="icon-footer fa-solid fa-user-shield"></span>
            <h2 class="h2_footer">Seguridad, de principio a fin</h2>
            <p class="p_footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h2 class="h2_foot">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </section>
    </footer>
</body>

</html>